#nav {
    // padding: 0.5em;
    font-size: 2em;
    margin-bottom: 2em;

    a {
        text-decoration: none;
    }

    .username {
        font-size: 0.5em;
        vertical-align: middle;
    }

    #sidenav {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: $dark;
        color: $light;
        overflow-x: hidden;
        transition: 0.25s;
        padding-top: 60px;

        &.open {
            width: 250px;

            @media (max-width: 500px) {
                width: 100%;
            }
        }

        a {
            padding: 8px 8px 8px 32px;
            text-decoration: none;
            font-size: 1em;
            color: $muted;
            display: block;
            transition: 0.3s;

            &:hover {
                color: $light;
            }
        }
          
        .closebtn {
            position: absolute;
            top: 0;
            right: 25px;
            font-size: 36px;
            margin-left: 50px;
        }

        hr {
            margin: 1em 0;
            border: solid 1px $muted;
        }
    }  
}