.posts {
    margin: 1em auto;

    .post {
        margin-bottom: 2em;

        .post_author {
            display: inline-block;
            font-size: 1.5em;
            margin-bottom: 0.5em;
        }

        .post_content {
            margin-bottom: 0.25em;
            font-size: 3em;
        }

        .post_details {
            color: lighten($color: $dark, $amount: 50);
            font-size: 1em;

            span.trash {
                margin-left: 0.5em;
                cursor: pointer;
                color: red;
            }
        }

        .delete-post_modal {
            position: fixed;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 10;
            background: rgba($color: #000000, $alpha: 0.25);

            .delete-post_modal_content {
                font-size: 1em;
                background: $light;
                border: solid 1px $dark;
                box-shadow: 10px 10px 0px $dark;
                width: 98%;
                max-width: 500px;
                padding: 1em;
                display: block;
                position: absolute;
                margin: auto;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);

                ._post_content {
                    display: block;
                    margin: 0.5em 0;
                    font-size: 1.5em;
                }

                button {
                    border: solid 1px $dark;
                    border-radius: 0;
                    padding: 0.25em 0.5em;
                    background: $light;
                    box-shadow: 2px 2px 0px $dark;
                    cursor: pointer;
                }
            }
        }
    }
}