@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;0,600;1,400&display=swap');

$peach: #fcb07e;
$dark: #11151c;
$mute: #545E75;
$blue: #3581b8;
$light: #F4F5F6;
$muted: #919191;
