@import './variables';
@import './components/nav';
@import './components/login';
@import './views/home';
@import './views/profile.scss';
@import './components/posts.scss';
@import './components/clubby.scss';

* {
    color: $dark;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background: $light;
}

#container {
    padding: 1em;
    transition: all 0.15s;

    &.showSideNav {
        width: calc(100% - 250px);
        margin-left: 250px;
    }
}

.linkish {
    color: $blue;
    cursor: pointer;
}

h1 {
    font-size: 4em;
}

.content {
    width: 100%;
    margin: auto;
}

hr {
    margin: 1em 0;
    border: solid 1px $muted;

    &.dark {
        border: solid 1px $dark;
    }
}