#login {
    font-size: 4em;
    display: block;
    width: 100%;
    form {
        width: 100%;
        .input-wrap {
            margin: 0.5em 0;
            input,
            button {
                background: none;
                width: 100%;
                font-size: 1em;
                padding: 0.25em;
                outline: none;
                border: none;
                border-bottom: solid 2px $color2;
            }
            button {
                border: solid 2px $color2;
                cursor: pointer;
                box-shadow: 10px 10px $color2;
            }
        }
        .error {
            color: $error;
        }
    }
}