#nav {
    width: 100%;
    padding: 1em;
    border-bottom: solid 2px $color2;
    margin-bottom: 1em;

    #nav-left {
        margin: -0.5em 0;
        float: left;
    }

    #nav-right {
        margin: -0.5em 0;
        float: right;
    }

    a {
        text-decoration: none;
    }
}